<!DOCTYPE html>
<html>
<head>
    <title> {% block title%} {% endblock %} </title> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 

    <!---bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!---custom--->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav id="nav-bar">
        <a href="index">TEXT - TOOLS</a>
      </nav>
      <br>
      <br>
      <br>
      <br>
    {% block body %} {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>